body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px 10px 10px 10px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 5px;
}