body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 5px auto;
  padding: 15px 10px 10px 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 3px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 3px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  align-content: center;
  margin: 0px auto;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px;
  margin: 0px auto;
}